* {box-sizing: border-box;}
html {font-size: 18px;}
body {
    background: #ffffff;
    font-family: 'Merriweather', serif;
    margin: 0px;
    line-height: 200%;
}

header {
    width: 100%;
    background-color: #2d3945;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 2.5rem;
}

.container {
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    width: auto;
}

label {
    margin-top: 1rem;

}

h3 {
    color: #2d3945;
    font-weight: bold;
}

h2 {
    color: #2d3945;
    text-align: center;
    font-weight: bold;

}

p{
    color: darkgray;
    text-align: center;

}

fieldset {
    max-width: 350px;
    border: none;
    padding: 1rem;

}

.formstyle {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
}

.c-label {
    font-size: 14px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: grey;

}

.c-form {
    background-color: #eff0f1;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    width: 100%; 
}


.c-form:focus, .c-form-zip:focus, .select-box:focus, .text-box:focus {
    outline: 3px solid rgb(104, 68, 231);
    background-color: rgb(255, 255, 255);
    opacity: 0.6;
    transition: 0.3s;
}

.c-form:hover, .c-form-zip:hover, .select-box:hover, .text-box:hover {
    outline: 3px solid rgb(104, 68, 231);
    background-color: cornsilk;
    opacity: 0.6;
    transition: 0.3s;
}

.c-form-zip {
    background-color: #eff0f1;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    width: 50%;
    display: block;
}

.check-label {
    font-size: 14px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: grey;
}

.check-box {
    background-color: #eff0f1;
    padding: 1rem;
}

.select-box {
    display: flex;
    background-color: #eff0f1;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    width: 100%;
} 

select#state.select-box {
 color:rgb(129, 129, 129);
 font-size: 16px;
}

::placeholder {
    font-style: italic;
    text-align: right;
}

.formstyle_button {
    display: inline;
}

.text-box {
    background-color: #eff0f1;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    resize: none;
    width: 100%;
}

.text-box:focus {
    outline: 3px solid rgb(104, 68, 231);
}

.text-box:hover {
    outline: 3px solid rgb(104, 68, 231);
}  

.select-box:focus {
    outline: 3px solid rgb(104, 68, 231);
}

.select-box:hover {
    outline: 3px solid rgb(104, 68, 231);
}  

.c-button {
    background-color: #4ebbb5;
    padding: 1.5rem;
    font-size: 24px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    border: none;
    width: 100%;
}

.c-button:hover {
    background-color: #ff8181;

}

.first-divider {
    border-top: 6px solid #bbb;
    padding-top: 4px;
    border-bottom: 3px solid #bbb;
    border-right: none;
    border-left: none;
    margin: 1rem;
}

.second-divider {
    border-top: 3px solid #bbb;
    margin: 1rem;
}

footer {
    width: 100%;
    font-size: 16px;
    background-color: #2d3945;
    color: rgb(255, 255, 255);
}

footer p {
    color: rgb(255, 255, 255);

}

@media only screen and (min-width: 768px) {
.container {
    width: 100%;
    flex-basis: auto;
    align-items: center;
}

main {
    width: 768px;
}

.formstyle {
    -ms-flex-align: start;
}

fieldset {
    margin: 0px;
    width: 100%;
    max-width: none;
}

.select-box {
    display: flex;
    width: 75%;
    padding-top: 1rem;
    padding-bottom: 1rem;
} 

    .container {
        width: 100%;
    }

    fieldset {
        margin: 0px;
        width: 100%;
    }

    .c-form {
        display: flex;
        width: 75%;
    }

    .c-form-zip {
        width: 25%;
    }

    .row {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        
    }

    .select-box {
        width: 75%;
    } 
    

  

}




